<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Skillering - Can't Access Email</title>
  <link rel="stylesheet" href="Can't access this email.css">
</head>
<body>
  <img src="logo.png" alt="Skillering Logo" class="logo">
  <div class="container">
    <h2>Can't Access This Email?</h2>
    <p class="description">
      If you no longer have access to ******@gmail.com, we can help you recover your account using an alternative method.
    </p>

    <label for="alt-contact">Enter a new email or phone number</label>
    <input type="text" id="alt-contact" placeholder="New email or phone number">

    <p class="note">
      We'll use this contact to verify your identity and help you regain access to your Skillering account.
    </p>

    <button class="submit">Continue</button>

  </div>
   <center>
     <footer>
       <img src="logo-small.png" alt="Small Logo" class="logo-small">
        <a href="#">@2025</a>&nbsp;&nbsp;
        <a href="../Sign Up/User Agreement.html">User Agreement</a>&nbsp;&nbsp;
        <a href="../Sign Up/privacy Policy.html">Privacy Policy</a>&nbsp;&nbsp;
        <a href="../Sign Up/Cookie policy.html">Cookie Policy</a>&nbsp;&nbsp;
        <a href="../Sign Up/Send FeedBack.html">Send Feedback</a>&nbsp;&nbsp;
        <a href="../Sign Up/Terms of conditions.html">Terms & Conditions</a>&nbsp;&nbsp;
      </nav>
      <div class="lang">Language ▼</div>
    </footer>
    </center>
</body>
</html>
